<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/coswg3?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">coswg3</property>
    <property name="hibernate.connection.password">coswg30215</property>
    <property name="hibernate.show_sql">true</property>
    
    <mapping class="com.cosw.superstuff.persistencia.Tienda"/>
    <mapping class="com.cosw.superstuff.persistencia.Factura"/>
    <mapping class="com.cosw.superstuff.persistencia.Descuento"/>
    <mapping class="com.cosw.superstuff.persistencia.Tendero"/>
    <mapping class="com.cosw.superstuff.persistencia.Pedido"/>
    <mapping class="com.cosw.superstuff.persistencia.Banco"/>
    <mapping class="com.cosw.superstuff.persistencia.MetaDato"/>
    <mapping class="com.cosw.superstuff.persistencia.Producto"/>
    <mapping class="com.cosw.superstuff.persistencia.Lugar"/>
    <mapping class="com.cosw.superstuff.persistencia.Proveedor"/>
    <mapping class="com.cosw.superstuff.persistencia.EmpresaEnvio"/>
    <mapping class="com.cosw.superstuff.persistencia.DetalleCompra"/>
    <mapping class="com.cosw.superstuff.persistencia.EstadoEnvio"/>
    <mapping class="com.cosw.superstuff.persistencia.Pais"/>
    <mapping class="com.cosw.superstuff.persistencia.DetalleCompraId"/>
    <mapping class="com.cosw.superstuff.persistencia.Envio"/>
    <mapping class="com.cosw.superstuff.persistencia.Categoria"/>
  </session-factory>
</hibernate-configuration>
